Repository nodejs/undici, pull requests merged in 2021-07, with the labels that each got.

#899 Types: improve connect options
  docs/api/Client.md
  test/types/client.test-d.ts
  types/client.d.ts
Labels: Types

#906 Expose Connector in the public API
  docs/api/Client.md
  docs/api/Connector.md
  docsify/sidebar.md
  examples/ca-fingerprint/index.js
  index.d.ts
  index.js
  lib/client.js
  lib/core/connect.js
  lib/pool.js
  test/ca-fingerprint.js
  test/types/connector.test-d.ts
  types/client.d.ts
  types/connector.d.ts
Labels: enhancement, semver-minor

#909 Improve getIssuerCertificate utility
  docs/api/Connector.md
  examples/ca-fingerprint/index.js
  test/ca-fingerprint.js
Labels: Docs

#907 feat: implement body mixin on Readable
  README.md
  docs/api/Dispatcher.md
  lib/api/api-request.js
  lib/api/readable.js
  test/client-request.js
Labels: enhancement
